/* Name: Kian Dela Cruz*/

body {
    font-family: 'Scope One', serif;
    margin: 0;
    padding: 0;
    background-color: #3AB03F;
    color: white;
}

/* Styles for Top part of the page*/
header {
    background-color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    color: #000;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Sanchez', serif;
    font-size: large;
}

.auth-buttons a {
    background-color: #3AB03F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}
.auth-buttons a {
    text-decoration: none; 
    color: white;
}
.auth-buttons span {
    text-decoration: none; 
    color: black;
}
.user-icon img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.nav .nav-links{
    font-family: 'Roboto Serif', sans-serif;
}
.schedule{
    font-family: 'Scope One', serif;
}

/* Style for the main content */
main {
    padding: 40px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.cta1 {
    background-color: white;
    color: #3AB03F;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0;
    font-family: 'Roboto Serif', sans-serif;
    margin-left: 15%;
    
}
.cta1 a{
    text-decoration: none;
    color:#3AB03F;
}
.cta2 {
    background-color: white;
    color: #3AB03F;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 25px;
    font-family: 'Roboto Serif', sans-serif;
    margin-left: 44%;
    
}

.p1{
    font-size: 32px;
    word-spacing: 2px;
    font-family: 'Roboto Serif', sans-serif;
    padding-left: 15%;
   line-height: 1.6;

}

.tagline{
  padding-left: 20%;
  font-family: 'Scope One', serif;
  line-height: 1.6;
}
.schedule{
    text-align: center;
}


/* Style for home page */
.hero-image {
    position: absolute;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
}

.hero-image img {
    width: 600px;
    height: auto;
}


/*Style for aboutus */

.maincontentabout{
    text-align: center;
    line-height: 1.5;
}


.mission-vision {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: 'Scope One', serif;
    text-align: center;
    font-size: large;
}

.mission, .vision {
    width: 45%;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 5px;
    color: black;
    font-family: 'Roboto Serif', sans-serif;
}

nav {
    z-index: 10; 
}

.auth-buttons {
    position: relative;
    z-index: 10; 
}

    
/* Adjustments for smaller screens */
@media screen and (max-width: 1080px) {
    .mission-vision {
        display: table-row;
        justify-content: center;
    }
    .mission, .vision {
        margin: 10px;
        width: 100%;
        background-color: #D9D9D9;
        padding: 2px;
        border-radius: 5px;
        color: black;
        font-family: 'Roboto Serif', sans-serif;
    }
    
}
.contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
}

.contact-form h2 {
    color: #4CAF50;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row input {
    width: 48%;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-start;
}
.maincontentabout{
    font-family: 'Scope One', serif;
}

video {
    display: block;
    margin: 50px auto 0; 
    width: 300px;
}

/* Style for planner */
.planner {
    background-color: white;
    color: #000;
    padding: 20px;
    border-radius: 5px;
}

.calendar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.day {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #3AB03F;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.day .date {
    font-size: 1.2em;
    font-weight: bold;
}

.day:hover{
    background-color: silver;
    color: #000000;
}

.day a{
    text-decoration: none;
    color: #000000;
}

.tasks table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tasks th, .tasks td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border-color: #000000 ;
}

.tasks th {
    background-color: #f1f1f1;
}

.add-task {
    display: flex;
}

.add-task input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    border-color: #000000;
    margin-bottom: 5px;
}

.add-task button {
    background-color: #3AB03F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}
.add-time {
    display: flex;
    top:auto;
}

.add-time input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 1px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    border-color: #000000;
}

.add-time button {
    background-color: #3AB03F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}



/* Styles for Footer  */
footer {
    padding: 20px;
    text-align: center;
}

.social-icons {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);  
    
}

.social-icons img {
    width: 75px; 
    height: 75px;
}

.social-icons2{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}

.social-icons2 img{
    width: 75px; 
    height: 75px;
}

footer p{
        font-size: 14px;
        color: #ffffff; 
        margin-top: 90px;
    
}




/*Styles for Sign-in and Log-in Page  */
.signlog-in-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.signlog-in-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.signlog-in-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    border-color: #000000;
}

.signlog-in-form button {
    width: 100%;
    padding: 10px;
    background-color: #3AB03F;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.google-signlogin img {
    position: absolute;
    width: 40px;
    height: 20px;
    margin-right:10px;
    top: 230px;
}

main.signlog-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3AB03F;
}

.signlog-in-form button a {
    text-decoration: none;
    color: inherit;
}

.profile-ham{
    display: none;
}

/* Tablet Viewport: Styles */
@media screen and (max-width: 768px) {
    header {
        padding: 15px;
    }

    nav {
        flex-direction: column;
        align-items: center; 
    }

    nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    footer p {
        font-size: 10px;
        color: #fff; 
        margin-top: 50px;
    } 
}
    
/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 2px 0;
    transition: 0.4s;
   
}

html, body {
    width: 100%;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}

/* Hide navigation and auth buttons on mobile */
@media screen and (max-width: 1000px) {
    .profile-ham{
        display: inline-flex;
    }
    /* Hamburger menu styles */
    .hamburger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
    }
    
    .hamburger-menu span {
        width: 30px;
        height: 4px;
        background-color: #000;
        margin: 4px 0;
        transition: 0.4s;
    }

    .hamburger-menu {
        display: flex;
    }

    #nav-links, .auth-buttons {
        display: none;
    }

    #nav-links.show, .auth-buttons.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #nav-links.show li, .auth-buttons.show a {
        margin: 10px 0;
    }
    .profile-ham{
        width: 15%;
    }
    nav {
        flex-wrap: wrap;
        width: 100%;
    }

    .logo {
        flex-grow: 1;
    }
    .user-icon{
        display: none;
    }
    
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%; 
        padding: 0 10px;
    }

    .hero-content {
        order: 2;
        margin-top: 20px;
        width: 100%; 
    }

    .hero-image {
        order: 1;
        position: static;
        transform: none;
        margin-bottom: 20px;
        width: 100%;
    }

    .hero-image img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .tagline h1 {
        font-size: 1.8em;
    }

    .p1 {
        font-size: 1em;
        padding-left: 0;
    }

    .cta1 {
        margin-left: 0;
    }
}

/* Mobile Viewport: Style rules */
@media screen and (max-width: 480px) {
    .tagline h1 {
        font-size: 1.5em;
        display: inline;
        position: relative;
        right: 25px;
    }

    .p1 {
        font-size: 15px;
    }

    .auth-buttons {
        flex-direction: column;
        align-items: right;
    }

    .auth-buttons a {
        margin: 5px 0;
    }

    .social-icons img {
        
        width: 40px;
        height: 40px;
    }

    }


    .google-signlogin img {
        position: relative;
        top: 35px;
    }

    footer p {
        font-size: 10px;
        color: #fff; 
        margin-top: 220px;
    } 

