/* Hero Section Styles */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #3AB03F; 
    color: white;
    position: relative; 
}

.hero-content {
    max-width: 50%; 
}

.tagline h1 {
    text-align: center;
    font-size: 2.7em; 
    margin-bottom: 20px; 
    line-height: 1.2; 
}

.p1 {
    font-size: 1.2em;
    line-height: 1.6; 
    margin-bottom: 20px; 
}

.cta1 {
    background-color: white; 
    color: #3AB03F; 
    border: none; 
    padding: 12px 30px; 
    font-size: 1em;
    font-weight: bold; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}


.hero-image {
    flex: 1; 
    display: flex;
    justify-content: center; 
}

.hero-image img {
    max-width: 100%; 
    height: auto;
    animation: fadeIn 1s ease-in;
}

/* Fade-in animation for the image */
@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

/* Adjustments for smaller screens */
@media screen and (max-width: 1080px) {
    .hero {
        flex-direction: column; 
        text-align: center;
    }
    .tagline{
        font-size: 14px;
        text-align: start;
        padding: 0;
    }
    
    .hero-content {
        max-width: 100%;
        margin-bottom: 20px; 
    }

    .hero-image {
        justify-content: center;
    }

    .hero-image {
        justify-content: center; 
    }
    .hero-image img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
    .tagline h1 {
        font-size: 2em; 
    }

    .p1 {
        font-size: 1em; 
        padding: 0;
    }

    .cta1 {
        font-size: 0.9em; 
        padding: 10px 20px; 
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .tagline h1 {
        font-size: 1.5em; 
    }

    .p1 {
        font-size: 0.9em; 
    }

    .cta1 {
        padding: 8px 16px; 
    }
}
